<p>home works!</p>
<div class="login-container">
  <div class="displayTable">
    <div class="displayTableCell">
      <form
        class="authBlock"
        [formGroup]="form"
      >
        <h1 class="mt-40">Login</h1>

        <div class="formGroup mt-40 item-holder">
          <span class="input-label mb-10">E-mail</span>
          <input
            type="text"
            formControlName="email"
            class="input-text"
            placeholder="E-mail"
            #userName
            required
          />
        </div>

        <div class="formGroup item-holder mt-20">
          <span class="input-label mb-10">Password</span>
          <input
            type="password"
            formControlName="password"
            class="input-text"
            placeholder="Password"
            #userPassword
            required
          />
        </div>

        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup mt-20">
          <button
            type="submit"
            class="button-primary"
            [disabled]="!form.valid"
            [ngClass]="{ 'button-primary-disabled': !form.valid }"
          >
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<button (click)="signOut()">sign out</button>
